@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --Font-size:"Outfit"; /* 300 400 600*/

  --Soft-blue: hsl(215, 51%, 70%);
  --Cyan: hsl(178, 100%, 50%);

  --Very-dark-blue-main-BG:hsl(217, 54%, 11%);
  --Very-dark-card-BG:hsl(216, 50%, 16%);
  --Very-dark-line: hsl(215, 34%, 55%);
  --White:hsl(0, 0%, 100%);
  


}



body{
    background-color: var(--Very-dark-blue-main-BG);
    color: white;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 375px;
    max-width: 1440px;
    margin: 0 auto;
    background: var(--Very-dark-card-BG);
    border-radius: .66rem;
    overflow: hidden;

}

.box{
    padding: 1rem;
    font-family: var(--Font-size);
}

article {
    margin-top: 1.5rem;
}

article a {
    text-decoration: none;
    color: var(--White);
    transition: all 0.3s ease-in;
}

a:hover{
    color: var(--Cyan)
}

article p{
    margin-top: 1.6rem;
    font-size: 1.2rem;
    line-height: 1.5;
    color: var(--Very-dark-line);
} 


.text-icon{
    margin-top: 1.3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right, .left{
    display: flex;
    align-items: center;
    
}

span{
    margin-left: .45rem;
}


#thor{
    color: var(--Cyan);
}

#time-text{
    color: var(--Very-dark-line)
}


.footer{
    margin-top: 2rem;
    border-top:1px solid hsl(215, 32%, 27%) ;
}



.footer .text{
    margin-top: 1rem;
    display: flex;
    align-items: center;
}
.footer img{
    width: 40px;
    border-radius:50%;
    border: 1.2px solid white;
}

.text h2 {
    margin-left: 1rem;
    font-size: 1.2rem;
     color: var(--Very-dark-line);
}



h2 > span {
    color:white;
    cursor: pointer;
    transition: all 0.3s ease-in;
}


h2 > span:hover {
    color:var(--Cyan);

}




img{
    height: 100%
}



.img{
    position: relative;
}

.img img{ 
    width: 100%;
    display: block;
    cursor: pointer;
    border-radius: 0.45rem;
}

.img::before{
    content: url(images/icon-view.svg);
    position: absolute;
   

    width: 100%;
    height: 100%;
    border-radius: 0.45rem;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
   opacity: 0;
    cursor: pointer;
    transition: all 0.2s ease-in;
}

.img:hover::before{
    opacity:1;
    background-color: hsla(178, 100%, 50%, 0.281);
    
}





@media (max-width:500px) {

    body{
        font-size:18px;
    }
    .container {
        width: 90%;
       
}



}


@media (max-width:260px) {

    html{
        font-size: 14px;
    }

    img{
         max-width: 100%;
    }
    .text-icon{
        flex-direction: column;
    }
    
}





